body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;

  margin: 0 auto;
}

/* Main content */
.main-content {
  padding: 35px;
  box-sizing: border-box;
}

/* Sidebar */
.sidebar {
  background: #1e2939;
  padding-top: 40px;
  padding-bottom: 0;
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content {
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 30px;
  box-sizing: border-box;
}

.my_photo {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 0 20px;
  background-image: url(../img/my_photo.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 85%;
}

.icon {
  margin-top: 0;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

/* Contacts */
.contacts-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 16px;
}

.contact-type {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 171%;
}

.contacts-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-decoration: none; /* Добавлено, щоб не було підкреслення */
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 12px;
}

.contacts-container {
  margin-bottom: 40px;
  width: 250px;
}

.contacts-item:hover .contacts-link {
  opacity: 1; /* При наведенні збільшуємо непрозорість */
}

.icon {
  margin-right: 8px; /* Додаємо відступ між іконкою та текстом */
  vertical-align: middle;
}

.fab,
.fas {
  margin-right: 8px; /* Відступ для іконок */
  vertical-align: middle;
  color: #fb6d3a;
}

/* Skills container */
.skills-container {
  margin-bottom: 40px;
  width: 250px;
}

.skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  color: #fb6d3a;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  padding-left: 18px;
}

.skills-list-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  margin-bottom: 12px;
}
.skill {
  margin-bottom: 12px;
}

/* Main content */
.my-profession {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-descr {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

/* My Projects Section */
.my-projects-container {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
}

.my-projects-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.my-projects-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.my-projects-item {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
  color: #777777; /* М'який сірий текст для проектів */
}

.my-projects-item a.my-projects-item-link {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
  font-size: 16px;
}

.my-projects-item a.my-projects-item-link:hover {
  color: #fb6d3a; /* Темно-синій колір при наведенні */
}

.work-experiance-duties-item {
  font-weight: 600;
  color: #333333; /* Текст більш темний для заголовків */
}

.work-experiance-period-separator {
  color: #333333;
}

.project-details {
  color: #777777; /* Світло-сірий для менш важливого тексту */
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 6px;
}

.project-description {
  font-size: 14px;
  color: #777777;
  margin-top: 6px;
  margin-bottom: 6px;
}

.project-link {
  font-size: 14px;
  color: #777777;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 0;
}

.project-link i {
  margin-right: 5px;
}

.project-link:hover {
  color: #fb6d3a;
}

.project-link:active {
  color: #ffbf00;
}

/* Work Experience */
.work-experianse-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 22px;
  margin-bottom: 10px;
}

.work-experiance-company {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.company-name {
  color: #fb6d3a;
}

.work-experiance-period {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 6px;
}

.work-experiance-period-separator {
  color: #000;
}

.work-experiance-duties-list {
  padding-left: 20px;
}

.work-experiance-duties-item {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
}

.work-experiance-container-company {
  margin-top: 0;
  margin-bottom: 10px;
}

.work-experience-container {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Education */
.education-container {
  margin-top: 0;
}

.education-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 10px;
}

.education-university {
  color: #fb6d3a;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-professional {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.education-experiance-period {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 15px;
}
